{% extends 'BookManager/base.html' %} {% block body%}

<div class="subtitle-container">
  <h2 class="subtitle">Add Book</h2>
</div>

{% if success %}

<div class="success-add-container">
  <h3 class="success-message">The Book has been successfully added.</h3>
  <a href="{% url 'edit' %}">Return to Editing</a>
</div>

{% else %}
<form action="{% url 'add' %}" method="POST" class="data-form">
  {% csrf_token %} {{ bookForm.as_p}} {{ authorForm.as_p }} {{ genreForm.as_p }}
  <button type="submit" class="button">Add Book</button>
</form>

{% endif %} {% endblock %}
