{% extends 'BookManager/base.html' %} {% block body%}

<div class="subtitle-container">
  <h2 class="subtitle">Update Book</h2>
</div>

{% if success %}

<div class="success-update-container">
  <h3 class="success-message">The Book has been successfully updated.</h3>
  <a href="{% url 'edit' %}">Return to Editing</a>
</div>

{% else %}
<form action="" method="POST" class="data-form">
  {% csrf_token %} {{ form.as_p}}
  <button type="submit" class="button">Update Book</button>
</form>

{% endif %} {% endblock %}
