.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  text-align: center;
  margin: 0;
}

li {
  list-style: none;
  width: fit-content;
}

a {
  text-decoration: none;
}

h1 {
  color: red;
}

.button {
  background-color: #3f51b5;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 10px;
}
